.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-bar {
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: auto;
  width: 100%;
  color: white;
  /*display: flex;*/
  padding-top: 64px;
}

.Header-container {
  /*position: relative;*/
  display: flex;

}

.Header-image {
  display: flex;
  width: 100%;
  object-fit: contain;
}

.Header-typing {
  vertical-align: center;
}

.App-body {
  font-size: large;
}

.App-footer {
  font-size: medium;
  text-align: left;
  background-color: #404040;
  height: 150px;
  padding: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
